[user]
  name = David Birks
  #email = david@birks.dev
  email = dbirks@polarislabs.com
  signingKey = B26F9AD8DA203392EF87C61ABB999F83D9A19A36

[color]
  ui = true

[core]
  fileMode = true
  pager = diff-so-fancy | less --tabs=4 -RFX

[diff-so-fancy]
  stripLeadingSymbols = false
  first-run = false

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[color "diff"]
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse

[commit]
  gpgSign = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[pull]
  ff = only

[alias]
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  gone = ! git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | grep '\\[gone\\]' | cut -d ' ' -f 1 | xargs -r git branch -D
  pr-report = log origin/HEAD.. --format='%s%n- %b'
