[user]
  name = David Birks
  #email = david@birks.dev
	email = david@birks.dev
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOhJWxqDdLMeEzBMePcGjb2PUHwJmd/d2zjo6TDgbuO1

[color]
  ui = true

[core]
  fileMode = true
#  editor = code
  #pager = diff-so-fancy | less --tabs=4 -RFX
#  pager = delta

#[diff-so-fancy]
#  stripLeadingSymbols = false
#  first-run = false
#
#[color "diff-highlight"]
#  oldNormal = red bold
#  oldHighlight = red bold 52
#  newNormal = green bold
#  newHighlight = green bold 22
#
#[color "diff"]
#  meta = yellow
#  frag = magenta bold
#  commit = yellow bold
#  old = red bold
#  new = green bold
#  whitespace = red reverse

[commit]
	gpgsign = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[pull]
  ff = only

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[alias]
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  gone = ! git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | grep '\\[gone\\]' | cut -d ' ' -f 1 | xargs -r git branch -D
  pr-report = log origin/HEAD.. --format='%s%n- %b'
  pushed = push -u origin HEAD --no-verify --force-with-lease

[credential]
	helper = store
[gpg]
	format = ssh

[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
