[submodule "vim/.vim/pack/dbirks/start/vim-airline"]
	path = vim/.vim/pack/dbirks/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/.vim/pack/dbirks/start/vim-sensible"]
	path = vim/.vim/pack/dbirks/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/.vim/pack/dbirks/start/vim-gitgutter"]
	path = vim/.vim/pack/dbirks/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/.vim/pack/dbirks/start/nerdtree"]
	path = vim/.vim/pack/dbirks/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/pack/dbirks/start/phpcomplete.vim"]
	path = vim/.vim/pack/dbirks/start/phpcomplete.vim
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "vim/.vim/pack/dbirks/start/vim-vinegar"]
	path = vim/.vim/pack/dbirks/start/vim-vinegar
	url = git://github.com/tpope/vim-vinegar.git
[submodule "vim/.vim/pack/dbirks/start/YouCompleteMe"]
	path = vim/.vim/pack/dbirks/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/.vim/pack/dbirks/start/vim-terraform"]
	path = vim/.vim/pack/dbirks/start/vim-terraform
	url = git@github.com:hashivim/vim-terraform.git
