! --- ~/.Xresources ------------------------------------------------------------
! ------------------------------------------------------------------------------
! --- generated with 4bit Terminal Color Scheme Designer -----------------------
! ------------------------------------------------------------------------------
! --- http://ciembor.github.com/4bit -------------------------------------------
! ------------------------------------------------------------------------------

! --- special colors ---

*background: #140616
*foreground: #d9e6f2

! --- standard colors ---

! black
*color0: #121212

! bright_black
*color8: #303030

! red
*color1: #e8a581

! bright_red
*color9: #f3cfbc

! green
*color2: #81e8a5

! bright_green
*color10: #bcf3cf

! yellow
*color3: #c4e881

! bright_yellow
*color11: #dff3bc

! blue
*color4: #a581e8

! bright_blue
*color12: #cfbcf3

! magenta
*color5: #e881c4

! bright_magenta
*color13: #f3bcdf

! cyan
*color6: #81c4e8

! bright_cyan
*color14: #bcdff3

! white
*color7: #d0d0d0

! bright_white
*color15: #e4e4e4


! ------------------------------------------------------------------------------
! --- end of terminal colors section -------------------------------------------
! ------------------------------------------------------------------------------


URxvt*scrollBar:  false
!URxvt*fading:  30
URxvt*font: xft:xos4 Terminus:pixelsize=12
URxvt*boldFont: xft:xos4 Terminus:pixelsize=12
!URxvt*font: xft:xos4 ttf-monoid:pixelsize=12
!URxvt*boldFont: xft:xos4 ttf-monoid:pixelsize=12

!Xcursor.theme: cursor-theme
Xcursor.size: 16


