max_peers = 1000
max_peers_seed = -1
max_uploads = 10000
directory = /longs/torrents/.
session = /longs/torrents/session/.
schedule = watch_directory,5,5,load_start=/longs/torrents-to-add/*.torrent
check_hash = yes
use_udp_trackers = yes
scgi_port = localhost:5000
encryption = allow_incoming,try_outgoing,enable_retry
dht = on
dht_port = 6881
peer_exchange = yes
set_max_file_size = 100000G
